@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

$main: #16161d;
$secondary: #1affd6;

/* width */
::-webkit-scrollbar {
  width: 15px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #393940;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616166;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #76757a;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  color: #fff;
  background-color: $main;
}

#app {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

#nprogress {
  .spinner-icon {
    display: none;
  }

  .bar {
    background: $secondary !important;
  }
}
